.popular-and-tags {
    border-top: 2px solid #c3c3c3;
}

.popular-posts__title {
    margin-bottom: 20px;
    width: 100%;
    font-size: 32px;
    font-weight: bold;
    text-align: left;
}

.popular-post__image {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.info-post--populares {
    margin-top: 10px;
}

.info-post__date {
    font-size: 16px;
}

.info-post__title {
    font-size: 20px;
    font-weight: 700;
}

.info-post-author__image {
    width: 30px;
    height: 30px;
    border-radius: 30px;
}