.small-post {
    width: 70%;
}

.small-post__image {
    width: 180px;
    height: 135px;
    margin-right: 30px;
    border-radius: 10px;
}

.info-post__date {
    font-size: 16px;
}

.info-post__title {
    width: 100%;
    font-size: 20px;
    font-weight: 700;
}

.info-post-author__image {
    width: 30px;
    height: 30px;
    border-radius: 30px;
}

